<%= render 'shared/errors', obj: @pago %>

<script type="text/javascript">

$(document).ready(function() {
  $(".pa").select2();
  language: "es"
});
</script> 
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Introduce los datos del nuevo pago</h5>
            </div>
            <div class="ibox-content">
              <%= simple_form_for @pago, html: {id:"form", class: "wizard-big form-horizontal", required: true} do |f| %>
                    <div class="form-group">
                      <div class="col-md-6">
                      <%= f.association  :rentas, :label => "Renta", :collection => current_user.rentas,  include_blank: false, input_html: {class: "pa form-control"}%>
                    </div>
                    <div class="col-md-6">
                      <%= f.association :categoria , :label => "Categoría", :collection => Categoria.where("id < ?", 5).order(:id), include_blank: false, input_html: {class: "pa form-control"}%>
                    </div>
                  </div>
                    <div class="form-group">
                    <%= f.label :monto, 'Monto', class: "col-md-1 control-label" %>
                        <div class="col-md-4">
                          <%= f.number_field :monto, class: "form-control", required: true%>
                        </div>
                        <%= f.label :fecha, "Fecha del pago", class: "col-md-2 control-label",  required: true %>
                          <div class="col-md-4">
                            <%= f.text_field :fecha, data:{ provide:'datepicker' }, class:"datepicker form-control", required: true%>
                          </div>
                    </div>
                    <div class="form-group ">

                    <%= f.label :mes, "Mes", class: "col-md-1 control-label",  required: true %>
                          <div class="col-md-4">
                            <%= f.input :mes , as: :date, discard_day: true, label: false, :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], input_html: {class: "pa date required form-control", label: "a"}%>
                          </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <%= f.submit 'Enviar', class: 'btn btn-primary btn-lg center' %>
                        </div>
                    </div>
                  <% end %>
            </div>
        </div>
    </div>
</div>
