<script type="text/javascript">

$(document).ready(function() {
  $(".pais").select2();
  language: "es"
});
</script>

<div class = "nested-fields form-horizontal">
  <div class="form-group"><%= f.label :nombre, 'Titulo', class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :nombre, class: "form-control", placeholder: "Escribe un titulo para identificar la propiedad", autofocus: true, required: true %>
    </div>
  </div>

  <div class="hr-line-dashed"></div>

<div class="form-group">
<%= f.label :calle, 'Calle', class: "col-md-2 control-label" %>
    <div class="col-md-4">
      <%= f.text_field :calle, class: "form-control", autofocus: true,  required: true%>
    </div>
    <%= f.label :numero, 'Numero', class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :numero, class: "form-control", autofocus: true, required: true %>
    </div>
    <%= f.label :numero, 'Interior', class: "col-md-1 control-label" %>
    <div class="col-md-2">
      <%= f.text_field :numeroe, class: "form-control", autofocus: true %>
    </div>
  </div>

    <div class="form-group">
    <%= f.label :estado, 'Estado', class: "col-md-2 control-label" %>

      <div class="col-md-4">
          <%= f.select :estado, ["Aguascalientes", "Baja California", "Campeche", "Baja California Sur", "Chiapas", "Chihuahua", "Ciudad de México", "Coahuila",
            "Durango", "Estado de México", "Guanajuato", "Guerrero", "Hidalgo", "Jalisco", "Michoacán", "Nayarit", "Nuevo León", "Oaxaca", "Puebla", "Querétaro",
            "Quintana Roo", "San Luis Potosí", "Sinaloa", "Sonora", "Tabasco", "Tamaulipas", "Tlaxcala", "Veracruz", "Yucatán", "Zacatecas", ], {}, class: "pais form-control" %>
      </div>
      <%= f.label :municipio, 'Del/Municipio', class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :municipio, class: "form-control", autofocus: true, required: true %>
      </div>
    </div>
      <div class="form-group">
      <%= f.label :colonia, class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :colonia, class: "form-control", autofocus: true ,required: true %>
      </div>
      <%= f.label :cp, 'Codigo Postal', class: "col-md-2 control-label" %>
      <div class="col-md-4">
        <%= f.text_field :cp, class: "form-control", autofocus: true, required: true %>
      </div>
    </div>
  <div class="hr-line-dashed"></div>

<div>
