<%@inquilino = get_inquilinos(@renta.inquilino_id)
  @propiedad = get_propiedads(@renta.propiedad_id)
%>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><%= @renta.to_label%></h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'home', :action => 'index' %>">Inicio</a>
        </li>

        <li class="active">
              <a href="<%= url_for :controller => 'rentas', :action => 'index' %>">Rentas</a>
        </li>
    </ol>
</div>
<div class="col-lg-2">

</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

<div class="row m-b-lg m-t-lg">
                <div class="col-md-5">
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    <a class = "black" href="<%=propiedad_path(@propiedad)%>"><%=@propiedad.nombre%></a>
                                </h2>
                                <h3>  <a class= "black" href="<%=inquilino_path(@inquilino)%>"><%=@inquilino.nombre%></a></h3>
                                <small>
                                    Antiguedad <%= distance_of_time_in_words(@renta.inicio, Time.now) %>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <table class="table small m-b-xs">
                        <tbody>
                        <tr>
                            <td>
                                <strong>Vigencia: </strong> <%=@renta.final%>
                            </td>
                            <td>
                                <strong>Restan: </strong> <%= distance_of_time_in_words(@renta.final, Time.now) %>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Renta menusal: </strong> <%= @renta.costo%>
                            </td>
                            <td>
                                <strong>Renta anual:</strong> <%= @renta.costo * 12%>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Generado de esta renta</strong> <%= getTotalPagado(@renta)%>$
                            </td>
                            <td>
                                <strong>Balance de mensualidades: </strong><%= getBalance(@renta)%>$
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Todos los plazos de esta renta</h5>
                            <div class="ibox-tools">
                                <a href="<%=edit_renta_path(@renta)%>" class="btn btn-primary btn-xs">Finalizar plazo y renovar</a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="project-list">

                                <table class="table table-hover">
                                  <thead>
                                      <tr>
                                        <th>Estado</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                        <th>Progreso</th>
                                        <th>Mensualidad</th>
                                        <th>Incremento</th>
                                      </tr>
                                    </thead>
                                      <%@temp = -1.0%>
                                    <tbody>
                                        <%  @renta.plazos.order(:id).each do |plazo|  %>
                                    <tr>
                                        <td class="project-status">
                                          <%if plazo.final > Time.now %>
                                            <span class="label label-primary">Activa</span>
                                            <%else%>
                                            <span class="label label-danger">Terminada</span>
                                            <%end%>
                                        </td>
                                        <td class="project-title">
                                            <%=plazo.inicio%>
                                            </td>
                                              <td class="project-title">
                                               <%=plazo.final%>
                                        </td>
                                        <td class="project-completion"><small><%=number_with_precision( getPorcent(plazo), :precision => 1)%>%</small>
                                                <div class="progress progress-mini">
                                                    <div style="width:<%=getPorcent(plazo)%>%"; class="progress-bar"></div>
                                                </div>
                                        </td>
                                        <td>
                                           <%=plazo.costo%>
                                        </td>
                                        <td >
                                          <%if @temp != -1 %>
                                            $<%= plazo.costo - @temp %> =
                                          <%= number_with_precision((1-(@temp/plazo.costo.to_f)) * 100, :precision => 2)  %>%
                                          <%else %>
                                          <%= 0%>
                                          <%end%>
                                        </td>
                                    </tr>
                                    <%@temp = plazo.costo%>
                                      <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Puntualidad de <%=@inquilino.nombre%></h5>
                      </div>
                      <div class="ibox-content">
                          <div>
                              <canvas id="barChart" height="140"></canvas>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-6">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Adeudo mensual</h5>
                      </div>
                      <div class="ibox-content">
                          <div>
                              <canvas id="barChart2" height="140"></canvas>
                          </div>
                      </div>
                  </div>
              </div>

            </div>

            <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Todos los pagos de esta renta</h5>

                        </div>
                        <div class="ibox-content">

                            <div class="project-list">

                                <table class="table table-hover">
                                  <thead>
                                      <tr>
                                        <th><strong>Categoría</strong></td>
                                        <th><strong>Monto</strong></td>
                                        <th><strong>Mes</strong></td>
                                        <th><strong>Fecha del pago</strong></td>
                                        <th><strong>Comentarios</strong></td>
                                        <th><strong>Acciones</strong></td>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <% @renta.pagos.order(:mes).reverse_order.each do |pago| %>
                                      <tr>
                                          <td><%= pago.categoria.to_label%></td>
                                          <td><%= pago.monto%></td>
                                          <td> <%= pago.mes.month%></td>
                                          <td> <%= pago.fecha%></td>
                                          <td><%= pago.comentarios%></td>
                                          <td class="client-status">  <%= link_to "Editar", edit_pago_path(pago), class: "btn btn-xs btn-primary" %>
                                            <%= link_to "Borrar", pago_path(pago), method: :delete,
                                                                              data: { confirm: "¿Estas seguro que quieres borrar a este pago?"},
                                                                              class: "btn btn-xs btn-danger" %></td>
                                      </tr>
                                    <%end%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

    </div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
  var barData = {
    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
      datasets: [

          {
              label: "Dias de retraso al pagar",
              backgroundColor: 'rgba(26,179,148,0.5)',
              borderColor: "rgba(26,179,148,0.7)",
              pointBackgroundColor: "rgba(26,179,148,1)",
              pointBorderColor: "#fff",
              data: [<%=getRetraso(@renta, "01")%>, <%=getRetraso(@renta, "02")%>, <%=getRetraso(@renta, "03")%>, <%=getRetraso(@renta, "04")%>,
              <%=getRetraso(@renta, "05")%>, <%=getRetraso(@renta, "06")%>, <%=getRetraso(@renta, "07")%>,  <%=getRetraso(@renta, "08")%>,  <%=getRetraso(@renta, "09")%>, <%=getRetraso(@renta, "10")%> , <%=getRetraso(@renta, "11")%> , <%=getRetraso(@renta, "12")%>]
            }
      ]
  };

  var barOptions = {
      responsive: true
  };

  var ctx2 = document.getElementById("barChart").getContext("2d");
  new Chart(ctx2, {type: 'bar', data: barData, options:barOptions});

  var barData2 = {
    labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],
      datasets: [

          {
              label: "Cantidad adeudada",
              backgroundColor: "rgba(54, 124, 237, 0.5)",
              borderColor: "rgba(54, 124, 237, 1)",
              pointBackgroundColor: "rgba(54, 124, 237, 1)",
              pointBorderColor: "#fff",
              data: [<%=getBalanceMes(@renta, 1)%>, <%=getBalanceMes(@renta, 2)%>, <%=getBalanceMes(@renta, 3)%>, <%=getBalanceMes(@renta, 4)%>,
                <%=getBalanceMes(@renta, 5)%>, <%=getBalanceMes(@renta, 6)%>, <%=getBalanceMes(@renta, 7)%>,  <%=getBalanceMes(@renta, 8)%>,  <%=getBalanceMes(@renta, 9)%>, <%=getBalanceMes(@renta, 10)%> , <%=getBalanceMes(@renta, 11)%> , <%=getBalanceMes(@renta, 12)%>]
            }
      ]
  };



  var ctx2 = document.getElementById("barChart2").getContext("2d");
  new Chart(ctx2, {type: 'bar', data: barData2, options:barOptions});
});

</script>

<% end %>
