<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                  <span>
                    <% if current_user.image%>
                    <img alt="image" class="img-circle-fb" src="<%= image_url current_user.image + "?type=large" %>"/>
                    <%else%>
                    <%= image_tag "default-user.png", class: "img-circle-fb" %>
                    <%end%>
                  </span>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                              <strong class="font-bold"><%= current_user.name%> </strong>
                          </span> <span class="text-muted text-xs block">Opciones <b class="caret"></b></span>
                      </span>
                  </a>
                  <ul class="dropdown-menu animated fadeInRight m-t-xs">
                      <li>
                      </li>
                      <li><a href="">Ver Perfil</a>
                      </li>
                      <li><a href="">Editar Perfil</a>
                      </li>
                      <li class="divider"></li>
                      <li><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
                      </li>
                  </ul>
              </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Inicio</span>
                <% end %>
              </li>
              <li class="<%= is_active_controller('Renta') %>">
                <%= link_to new_renta_path do%>
                <i class="fa fa-plus-square-o "></i> <span class="nav-label">Nuevo</span>
                  <% end %>
            </li>
            <li class="<%= is_active_controller('Inquilino') %>">
                <a href=""><i class="fa fa-users"></i> <span class="nav-label" data-i18n="nav.inquilinos">Inquilinos</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('inquilinos', 'in') %>">
                    <li class="<%= is_active_action('index') %>"><%= link_to "Ver", inquilinos_path %></li>
                    <li class="<%= is_active_action('new') %>"><%= link_to "Agregar", new_inquilino_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('Propiedad') %>">
                <a href=""><i class="fa fa-building"></i> <span class="nav-label" data-i18n="nav.propiedad">Propiedades</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('propiedads', 'in') %>">
                    <li class="<%= is_active_action('index') %>"><%= link_to "Ver", propiedads_path %></li>
                    <li class="<%= is_active_action('new') %>"><%= link_to "Agregar", new_propiedad_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('Renta') %>">
                <a href=""><i class="fa fa-handshake-o"></i> <span class="nav-label" data-i18n="nav.renta">Rentas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('rentas', 'in') %>">
                    <li class="<%= is_active_action('index') %>"><%= link_to "Ver", rentas_path %></li>
                    <li class="<%= is_active_action('new') %>"><%= link_to "Agregar", new_renta_path %></li>
            </ul>
        </li>

        <li class="<%= is_active_controller('Pago') %>">
            <a href=""><i class="fa fa-money"></i> <span class="nav-label" data-i18n="nav.pago">Pagos</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse <%= is_active_controller('pagos', 'in') %>">
                <li class="<%= is_active_action('index') %>"><%= link_to "Ver", pagos_path %></li>
                <li class="<%= is_active_action('nuevo') %>"><%= link_to "Agregar", pagos_nuevo_path %></li>
            </ul>
        </li>

        <li class="<%= is_active_controller('Pago') %>">
            <a href=""><i class="fa fa-usd"></i> <span class="nav-label" data-i18n="nav.gasto">Gastos</span> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse <%= is_active_controller('gastos', 'in') %>">
                <li class="<%= is_active_action('index') %>"><%= link_to "Ver", gastos_path %></li>
                <li class="<%= is_active_action('nuevo') %>"><%= link_to "Agregar", new_gasto_path %></li>
            </ul>
        </li>

    </div>
</nav>
